
// Example component file
.example-component {
  background-color: lighten($blue, 55%);
  border: $base-border;
  margin: 2em auto;
  max-width: $max-width;
  padding: 2%;
  width: 100%;

  *:last-child {
    margin-bottom: 0;
  }
} // .example-component
